@media all and (max-height: 768px) {
    .toggle {
        height: auto;
    }

    body {
        overflow: auto;
    }

    #canvas {
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: 1366px) {
    .menu li {
        font-size: 18px;
        padding: 10px 15px;
    }

    #canvas {
        max-width: 1266px;
        width: 100%;
    }

    .marg_one {
        margin-top: 75px;
        margin-bottom: 64px;
    }

    .text-repost {
        margin-top: 77px;
    }

    .ul-text {
        margin-bottom: 94px;
    }

    .text-email {
        margin-bottom: 15px;
    }

    .text-margin {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .email {
        margin-bottom: 58px;
    }

    .addres {
        margin-bottom: 25px;
    }

    .sign-up {
        font-size: 22px;
    }
}

@media all and (max-width: 1000px) {
    .text-about {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .text-email {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .text-home, .ul-text, .text-repost {
        font-size: 14px;
    }

    .widtn {
        padding: 30px 0px 10px 0px;
    }

    .footer-link, .text-footer {
        font-size: 12px;
    }

    .text-margin {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 800px) {
    .addres {
        max-width: 500px;
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
    }

    .sign-up {
        font-size: 20px;
    }

    .menu li {
        font-size: 16px;
        padding: 10px;
    }

    header img {
        width: 150px;
    }
}


@media all and (max-width: 500px) {
    header {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .widtn {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .menu {
        padding: 0px 0px 20px 0px;
    }
}

@media all and (max-width: 480px) {
    .menu li {
        font-size: 14px;
        padding: 5px 10px;
    }

    .window {
        max-width: 260px;
        padding: 10px;
    }

    .window img {
        width: 40px;
        height: 40px;
    }
}