@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,
input, textarea, select, button {
	display: block;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
    position: relative;
    transition: all 0.5s ease 0.1s;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    overflow:hidden;
    background: #07090c;
    background: -moz-radial-gradient(center, ellipse cover,  #D2D7D3 26%, #ABB7B7 66%, #95A5A6 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%,#D2D7D3), color-stop(66%,#ABB7B7), color-stop(99%,#95A5A6));
    background: -webkit-radial-gradient(center, ellipse cover,  #D2D7D3 26%,#ABB7B7 66%,#95A5A6 99%);
    background: -o-radial-gradient(center, ellipse cover,  #D2D7D3 26%,#ABB7B7 66%,#95A5A6 99%);
    background: -ms-radial-gradient(center, ellipse cover,  #D2D7D3 26%,#ABB7B7 66%,#95A5A6 99%);
    background: radial-gradient(ellipse at center,  #D2D7D3 26%,#ABB7B7 66%,#95A5A6 99%);
    font-family: 'Open Sans', sans-serif;
    transition: opacity .5s;
}

#canvas {
    position: absolute;
}

.toggle {
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 999
}

header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    z-index: 5;
}

.menu {
    max-width: 1000px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    box-sizing: border-box;
}

.menu li {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    text-shadow: 0 0 20px rgba(255,255,255,1);
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 30px;
}

.menu li:hover {
    text-shadow: none;
    background-color: rgba(244, 179, 80, .5);
    transition: all .3s;
}

.email {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
}

.addres {
    max-width: 600px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    padding-left: 25px;
    box-sizing: border-box;
    box-shadow: 0px 0px 35px 2px rgba(255, 255, 255, 0.5);
}

.addres:focus {
    box-shadow: 0px 0px 35px 5px rgba(244, 179, 80, 0.6);
}


.sign-up {
    margin: 0 auto;
    font-size: 28px;
    padding: 10px 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: rgba(244, 179, 80, .5);
    transition: all .3s;
    cursor: pointer;
}

.sign-up:hover {
    background: rgba(244, 179, 80, .8);
}

.widtn {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 25px 10px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    align-items: flex-end;
}

footer {
    z-index: 5
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(7, 9, 12, 0.9);
    opacity: 0;
    transition: opacity .5s;
}

.window {
    max-width: 300px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
     -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    background: #ccc;
    padding: 20px;
    position: absolute;
    opacity: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    border-radius: 60px;
    z-index: 60
}

.window img {
    width: 60px;
    height: 60px;
}

.window p {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.in {
    opacity: 1;
    transition: opacity .5s;
}

.text-home {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5em;
    font-size: 18px;
    color: #3F3C4C;
    margin-bottom: 15px;
}

.text-repost {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5em;
    font-size: 18px;
    color: #3F3C4C;
}

.ul-text {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    line-height: 1.5em;
    font-size: 18px;
    color: #3F3C4C;
}

.text-about {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5em;
    margin-bottom: 20px;
    font-size: 16px;
    color: #3F3C4C;
}

.text-email {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5em;
    margin-bottom: 25px;
    font-size: 18px;
    color: #3F3C4C;
}

.text-margin {
    margin-bottom: 100px;
}

.text-footer {
    max-width: 600px;
    width: 100%;
    font-size: 14px;
    color: #3F3C4C;
}

.footer-link {
    font-size: 14px;
    text-decoration: none;
    color: #fff
}

.button-footer {
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: rgba(244, 179, 80, .5);
    border: none;
    margin-top: 10px;
}

/*Tabs*/
.toggle {
  z-index: 99;
}

.toggle .tabs .tab.active {
  color: #dd4b39;
}
.toggle .panels .panel {
  display: none;
}
.toggle .panels .panel:first-child {
  display: block;
}

.panels {
    z-index: 9
}


